*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-size: 1px;
}
.wrapper {
  max-width: 1920rem;
  margin-inline: auto;
  background: $base-bg;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1410rem;
  padding: 0 15rem;
  margin-inline: auto;
}
main {
  flex-grow: 1;
}
body {
  font-family: $ff;
  font-size: 1px;
}
.overflow-y-hidden {
  overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
ul {
  list-style: none;
}
button {
  padding: 0;
}
.logo {
  padding: 30rem 30rem 20rem;
  display: flex;
  justify-content: center;
  img {
    max-width: 165rem;
  }
}
main {
    display: grid;
    grid-template-columns: 340rem 1fr 260rem;
}
// .title {
//     @include text($ff, 48rem, 56rem, 700, $color-text);
//     margin-top: 111rem;
//     margin-bottom: 70px;
//     @include tablet-small-768{
//         font-size: 35px;
//         line-height: 45px;
//         margin-top: 70px;
//         margin-bottom: 40px;
//     }
// }
// .desc {
//     @include text($ff, 16px, 19px, 400, $color-text);
//     margin-top: 111px;
//     margin-bottom: 123px;
//     margin-inline: auto;
//     max-width: 837px;
//     @include tablet-small-768 {
//         margin-top: 40px;
//         margin-bottom: 40px;
//     }
// }
// КАСТОМИЗИРОВАТЬ СКРОЛ
*::-webkit-scrollbar {
  width: 10rem;
  height: 10rem;
}
*::-webkit-scrollbar-thumb {
  border-radius: 16rem;
  height: 10px;
  width: 8rem;
  background-color: rgba($color-primary, $alpha: 0.9);
}
