$ff: 'SourceSansPro';

$black: #000;
$white: #fff;
$yellow: #efb93f;
$base-bg: #eaeaea;
$color-primary: #16cfc1;
$color-head: #666666;
$color-text: #767676;
$color-titles: #444444;
$grey-light: #bbbbbb;
$grey: #aaaaaa;


$transition: .2s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


